################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/framework/v17
/.vs/framework/FileContentIndex
/.vs
